<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
        {{ template "title" .}}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/common/js/html5shiv.js"></script><![endif]-->
		<script src="/static/common/js/jquery.min.js"></script>
		<script src="/static/common/js/skel.min.js"></script>
		<script src="/static/common/js/skel-layers.min.js"></script>
		<script src="/static/common/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/common/css/skel.css" />
			<link rel="stylesheet" href="/static/common/css/style.css" />
			<link rel="stylesheet" href="/static/common/css/style-xlarge.css" />
		</noscript>
	</head>
    <body {{ template "body-class" .}}>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">clementscode</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/resume">Resume</a></li>
                        {{ if .Login.Authenticated }}
                        <li>Logged in as {{ .Login.Email }}</li>
                        <li><a href="/auth/logout?return={{.PathInfo}}" class="button special">Log Out</a></li>
                        {{ else }}
                        <li><a href="/auth/google/login?return={{.PathInfo}}" class="button special">Log In</a></li>
                        {{ end }}
					</ul>
				</nav>
			</header>

            {{ template "content" .}}

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>Personal Links</h3>
								<ul class="unstyled">
									<li><a href="/videos">home movies</a></li>
                                    <li><!--<a href="/comics">-->comic collection (in development)</li>
									<li><a href="http://google.com/+BrianClementsCode">google+</a></li>
									<li><a href="https://github.com/bclement">github</a></li>
									<li><a href="https://stackoverflow.com/users/487099/brian-clements">
                                        stackoverflow</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Other Websites</h3>
								<ul class="unstyled">
									<li><a href="http://xkcd.com">xkcd</a></li>
									<li><a href="http://reddit.com/r/programming">proggit</a></li>
									<li><a href="http://golang.org">golang</a></li>
									<li><a href="http://www.99-bottles-of-beer.net/">99 bottles of beer</a></li>
									<li><a href="http://thecodelesscode.com">the codeless code</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
                                <img src="/static/common/images/brian.png"/>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; clementscode. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>
