{{ define "title" }}<title>clementscode: resume</title>{{ end }}
{{ define "body-class" }}{{ end }}

{{ define "content" }}
		<!-- Main -->
        <section id="main" class="wrapper" >
            <iframe  height="1600" width="100%"
                src="https://docs.google.com/a/clementscode.com/document/d/1ZwX1I8TPkXIlqVcuctIwwmVzZpqCYQLQ-99bSfMMpPw/pub?embedded=true"></iframe>
        </section>
{{ end }}
